@model SBPriceCheckerMvcAPI.Models.Beer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Beer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceBefore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceBefore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceAfter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceAfter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pricePerLitre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pricePerLitre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceUnity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceUnity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discountValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discountValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discountNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discountNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.promoStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promoStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.promoEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promoEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.store)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.store)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detailsUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detailsUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BeerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
